<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MyBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MyUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <userSettings>
        <MyTool.Properties.Settings>
            <setting name="NumProfilesEveryRunning" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalProfiles" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsRunProfilesInstalled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAutoRunServices" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Link_Paidviewpoint" serializeAs="String">
                <value>paidviewpoint.com/?r=ar7yg9</value>
            </setting>
            <setting name="Link_Indexbitco" serializeAs="String">
                <value>indexbitco.in/index&amp;ref=17409</value>
            </setting>
            <setting name="Link_Presearch" serializeAs="String">
                <value>presearch.org/signup?rid=227755</value>
            </setting>
            <setting name="Link_Timebucks" serializeAs="String">
                <value>timebucks.com/?refID=215091225</value>
            </setting>
            <setting name="TotalProfilesTimebucks" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isTimebucksTask" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isPresearchTask" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NumOfProfilesInstalled" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoProcesses" serializeAs="String">
                <value />
            </setting>
            <setting name="CreateProfilesProcesses" serializeAs="String">
                <value />
            </setting>
            <setting name="CreateAccountsProcesses" serializeAs="String">
                <value />
            </setting>
            <setting name="TotalProfilesPresearch" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalProfilesPaidviewpoint" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isPaidviewpointTask" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isIndexbitcoTask" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isFreebitcoinTask" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isAutoFreebitcoTask" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TotalProfilesIndexbitco" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalProfilesFreebitcoin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalProfilesAdbtc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Link_Freebitcoin" serializeAs="String">
                <value>freebitcoin.io/?ref=143051</value>
            </setting>
            <setting name="Link_Adbtc" serializeAs="String">
                <value />
            </setting>
            <setting name="TotalProfilesAuto" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalProfilesAutoProxy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalProfilesManual" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalProfilesManualProxy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ManualProcesses" serializeAs="String">
                <value />
            </setting>
            <setting name="FromProfile" serializeAs="String">
                <value>1</value>
            </setting>
        </MyTool.Properties.Settings>
        <MyBot.Properties.Settings>
            <setting name="NumProfilesEveryRunning" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalProfiles" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsRunProfilesInstalled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAutoRunServices" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Link_Tixuma" serializeAs="String">
                <value>tixuma.de/?ref=140813</value>
            </setting>
            <setting name="Code_Tixuma" serializeAs="String">
                <value>WV77CPTG</value>
            </setting>
            <setting name="Link_Presearch" serializeAs="String">
                <value>presearch.org/signup?rid=227755</value>
            </setting>
            <setting name="Link_Timebucks" serializeAs="String">
                <value>timebucks.com/?refID=215091225</value>
            </setting>
            <setting name="TotalProfilesTimebucks" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isTimebucksTask" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isSearchServicesTask" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NumOfProfilesInstalled" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Processes" serializeAs="String">
                <value />
            </setting>
            <setting name="CreateProfilesProcesses" serializeAs="String">
                <value />
            </setting>
            <setting name="CreateAccountsProcesses" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckDataProcesses" serializeAs="String">
                <value />
            </setting>
            <setting name="TotalProfilesPresearch" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalProfilesTixuma" serializeAs="String">
                <value>0</value>
            </setting>
        </MyBot.Properties.Settings>
        <MyUtility.Properties.Settings>
            <setting name="NumProfilesEveryRunning" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TotalProfiles" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsRunProfilesInstalled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAutoRunServices" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RefLink_Tixuma" serializeAs="String">
                <value>http://www.tixuma.de/?ref=140384</value>
            </setting>
            <setting name="RefCode_Tixuma" serializeAs="String">
                <value>WV77CPTG</value>
            </setting>
            <setting name="RefLink_Presearch" serializeAs="String">
                <value>https://www.presearch.org/signup?rid=154015</value>
            </setting>
            <setting name="RefLink_Timebucks" serializeAs="String">
                <value>https://timebucks.com/?refID=215091225</value>
            </setting>
            <setting name="TotalProfilesAds" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="isTimebucksTask" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isSearchServicesTask" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NumOfProfilesInstalled" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Processes" serializeAs="String">
                <value>""</value>
            </setting>
        </MyUtility.Properties.Settings>
    </userSettings>
</configuration>
